#footer{

    background: $gray;
    
    .infi{
        .about{
            padding: 10px;
            a{
                img{
                    // padding: 10px;
                    width:50% ;
                }
            }

            

            p{
                font-size:0.8em;
            
            }

            div{
                a{
                    
                    padding: 10px 5px;
                    i{
                        color: #000;
                        font-size: 2em;
                    }
                }

                img{
                    width:50px;
                    border-radius: 20px;
                }
            }
        }

        
        .more{
            width:50%;
            #more{
                display: flex;
                ul{
                    margin-left:5%;
                   
                    li{
                        width:130px;
                        margin-bottom:3px;
                        
                        
                        a{
                            
                            color: #000;                            
                        }

                        
                    }
                    
                }

                 ul:last-child{
                    padding-left:10%;
                 }
            }
        }
        .more1{
            form{
                
                input[type=text],
                input[type=email]{
                    margin:3px;
                    padding: 5px;
                    border-radius: 10px;
                    width: 100%;
                }
                
                .checkbox{
                    display: flex;
                    input[type=checkbox]{
                        
                        float:left;
                        
                        
                    }
                    
                    
                }

                span{
                        
                    font-size:0.83em;
                    margin-left:1% ;
                    
                    
                }

                input[type=submit]{
                    font-weight: bold;
                    width: 100%;
                    height:40px;
                    
                    background: $main;
                    outline: none;
                    &:hover{
                    
                        color:#fff;
                        transition: all 0.5s;

                    }
                }
            }
        }
    }

    #copy{
        border-top:1px solid #fff;
        background: #313131;
        #copyright{
            color:#fff;
            padding:20px;
            span{
                text-decoration: underline;
            }
        }
    }
}