#header{
    
    #Head{
        
        .row{
            
            background: $main;
            
            #header_contact{
                font-size: 1.3em;
                
                .row{
                    div{
                        a i,
                        span{            
                            
                            color:#000;
                        }
                    }
                }
            }

            #searchbar{
                
                input{
                    height:35px;
                    border-radius: 100px;
                    
                    padding-left:2%;
                    outline: none;
                }

                a{
                    position: relative;
                    
                    bottom:25px;
                    i{
                        color:#000;
                    }
                }
            }
        }
    }

    #head{
    
        
        background: $gray;
        
        .row{
            
            box-sizing: border-box;
            .col-md-3{
                
                a{    
                    img{
                        padding-top:5px;
                        width:60%;
                    }
                }
            }


            #NavBar{
               
                .row{
                    a{
                        
                        padding:27px;
                        color:#000;
                        text-decoration: none;

                        &:hover{
                            background: $main;
                            color:#000;
                            transition: all 0.5s;
                            
                        }

                        
                    }

                    

                }
                
            }

            i{
                display: none;
            }

            
        }

        

    }

}

