#header{
    position: sticky !important;
    #Head{
        
        .row{
            
            background: $main;
            
            #header_contact{
                font-size: 1.3em;
                
                .row{
                    div{
                        a i,
                        span{            
                            
                            color:#000;
                        }
                    }
                }
            }

            #searchbar{
                
                input{
                    height:35px;
                    border-radius: 100px;
                    
                    padding-left:2%;
                    outline: none;
                }

                a{
                    position: relative;
                    
                    bottom:25px;
                    i{
                        color:#000;
                    }
                }
            }
        }
    }

    #head{
    
        
        background: $gray;

        .logopart{
            .res{
                .res1{
                   
                    margin-top:8px;
                    a{
                        
                        #Logo{
                            
                            width:230px;
                            height:80px;
                        }
                    }
                }
            }
        }

        .icon{
            .res2{
                .icon1{
                    i{
                        
                        font-size: 3em;
                        color:#000;
                        text-decoration: none;
                        cursor: pointer;
                        display: none;
                    }
                }
            }
        }

        .res{
            
            .logop{
                
                a{   

                    #Logo{
                        
                        width:200px  ;
                    }
                }
            }
            
            
            
        }

        .row{
            
            box-sizing: border-box;            

            .navs{
                .navs1{
                    
                    a{
                        padding:40px 15px;                      
                        color:#000;
                        text-decoration: none;

                        &:hover{
                            background: $main;
                            color:#000;
                            transition: all 0.5s;
                            
                        }
                    } 
                                
                }
            }    
        }
    }
}

