@media screen and (max-width:1023px){
    
    #header{
        
        
        

        #head{
            .row{
                .navs{
                    .row{
                        .navi{
                            .navs1{
                                display: none;
                                a{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    
        
    }

    #main{
        .buttons{
            display: flex !important;
            .col-xs-4{
                padding: 1px;
                width:33.3% !important;
            }
    
         
        }
    
        #result{
            .dropdowns{
                div{
                    button{
                        width: 100% !important;
                    }
                }
            }
        }
    }

    // #footer{
    //     input[type=text],
    //     input[type=email]{
    //         width:100%;
    //         position: relative;
    //         right:1% !important;
    //     }

       
    // }
}

@media screen and (max-width:768px){
   .more1{
        margin-top:20px !important;
   }
}
