$main:rgb(255, 187, 0);
$gray:rgb(208, 208, 212);




input{
    outline: none;
}

.active{
    display:block !important;
}


*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.yellow_hr{
    border:2px solid $main;
    background: $main;
    width: 15%;
}

@import '_header';
@import '_main';
@import '_footer';

@import '_mobile';