input {
  outline: none;
}

.active {
  display: block !important;
}

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

.yellow_hr {
  border: 2px solid #ffbb00;
  width: 15%;
}

#header {
  position: -webkit-sticky !important;
  position: sticky !important;
}

#header #Head .row {
  background: #ffbb00;
}

#header #Head .row #header_contact {
  font-size: 1.3em;
}

#header #Head .row #header_contact .row div a i,
#header #Head .row #header_contact .row div span {
  color: #000;
}

#header #Head .row #searchbar input {
  height: 35px;
  border-radius: 100px;
  padding-left: 2%;
  outline: none;
}

#header #Head .row #searchbar a {
  position: relative;
  bottom: 25px;
}

#header #Head .row #searchbar a i {
  color: #000;
}

#header #head {
  background: #d0d0d4;
}

#header #head .logopart .res .res1 {
  margin-top: 8px;
}

#header #head .logopart .res .res1 a #Logo {
  width: 230px;
  height: 80px;
}

#header #head .icon .res2 .icon1 i {
  font-size: 3em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  display: none;
}

#header #head .res .logop a #Logo {
  width: 200px;
}

#header #head .row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header #head .row .navs .navs1 a {
  padding: 40px 15px;
  color: #000;
  text-decoration: none;
}

#header #head .row .navs .navs1 a:hover {
  background: #ffbb00;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main #main_carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #main_carusel .row .col-md-4 {
  padding: 1px;
}

#main #main_carusel .row .col-md-4 .carousel .carousel-inner .carousel-item img {
  width: 33%;
  margin: 0;
}

#main #searchTire .between {
  background: #ffbb00;
  padding: 10px;
}

#main #searchTire .row .col-md-4 {
  padding: 1px;
}

#main #searchTire .row .col-md-4 .Searchbtn {
  font-weight: bold;
  width: 100%;
  height: 80px;
  background: #d0d0d4;
  outline: none;
  padding: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main #searchTire .row .col-md-4 .Searchbtn:hover {
  background: #ffbb00;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main #searchTire .row .col-md-4 .Searchbtn:focus {
  background: #ffbb00;
  color: #000;
}

#main #result {
  display: none;
  background: #d0d0d4;
}

#main #result .images .col-md-3 div img {
  width: 25%;
}

#main #result .btn {
  color: #626161;
}

#main #result .search_prop {
  padding: 5px;
  width: 100%;
}

#main #result .search_prop input {
  border-radius: 5px;
}

#main #afterpart {
  border-radius: 0 0 10px 10px !important;
}

#main #afterpart1,
#main #afterpart {
  border-radius: 0;
}

#main #afterpart1 div button,
#main #afterpart div button {
  border-radius: 10px;
  font-weight: bold;
  width: 60%;
  height: 40px;
  background: #fff;
  outline: none;
}

#main #afterpart1 div button:hover,
#main #afterpart div button:hover {
  background: #ffbb00;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main #afterpart1 div a,
#main #afterpart div a {
  text-decoration: none;
  color: #000;
}

#main #afterpart1 div a:last-child,
#main #afterpart div a:last-child {
  text-decoration: underline;
}

#main #Between1 {
  float: left;
  border: 1px solid #d0d0d4;
  background: #fff;
}

#main #Between1 .row {
  float: left;
}

#main #Between1 .row img {
  padding: 1px;
  width: 25%;
}

#main #Other {
  border-radius: 0 0 10px 10px;
  display: none;
  background: #d0d0d4;
  padding: 10px;
  border-radius: 0;
  text-align: center;
}

#footer {
  background: #d0d0d4;
}

#footer .infi .about {
  padding: 10px;
}

#footer .infi .about a img {
  width: 50%;
}

#footer .infi .about p {
  font-size: 0.8em;
}

#footer .infi .about div a {
  padding: 10px 5px;
}

#footer .infi .about div a i {
  color: #000;
  font-size: 2em;
}

#footer .infi .about div img {
  width: 50px;
  border-radius: 20px;
}

#footer .infi .more {
  width: 50%;
}

#footer .infi .more #more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .infi .more #more ul {
  margin-left: 5%;
}

#footer .infi .more #more ul li {
  width: 130px;
  margin-bottom: 3px;
}

#footer .infi .more #more ul li a {
  color: #000;
}

#footer .infi .more #more ul:last-child {
  padding-left: 10%;
}

#footer .infi .more1 form input[type=text],
#footer .infi .more1 form input[type=email] {
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
  width: 80%;
}

#footer .infi .more1 form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .infi .more1 form .checkbox input[type=checkbox] {
  float: left;
}

#footer .infi .more1 form span {
  font-size: 0.83em;
  margin-left: 1%;
}

#footer .infi .more1 form input[type=submit] {
  font-weight: bold;
  width: 40%;
  height: 40px;
  background: #ffbb00;
  outline: none;
}

#footer .infi .more1 form input[type=submit]:hover {
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#footer #copy {
  border-top: 1px solid #fff;
  background: #313131;
}

#footer #copy #copyright {
  color: #fff;
  padding: 20px;
}

#footer #copy #copyright span {
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  #header #head .row .navs .row .navi .navs1 {
    display: none;
  }
  #header #head .row .navs .row .navi .navs1 a {
    display: block;
  }
  #main .buttons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #main .buttons .col-xs-4 {
    padding: 1px;
    width: 33.3% !important;
  }
  #main #result .dropdowns div button {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .more1 {
    margin-top: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */