input {
  outline: none;
}

.active {
  display: block !important;
}

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

.yellow_hr {
  border: 2px solid #ffbb00;
  width: 15%;
}

#header #Head .row {
  background: #ffbb00;
}

#header #Head .row #header_contact {
  font-size: 1.3em;
}

#header #Head .row #header_contact .row div a i,
#header #Head .row #header_contact .row div span {
  color: #000;
}

#header #Head .row #searchbar input {
  height: 35px;
  border-radius: 100px;
  padding-left: 2%;
  outline: none;
}

#header #Head .row #searchbar a {
  position: relative;
  bottom: 25px;
}

#header #Head .row #searchbar a i {
  color: #000;
}

#header #head {
  background: #d0d0d4;
}

#header #head .row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header #head .row .col-md-3 a img {
  padding-top: 5px;
  width: 60%;
}

#header #head .row #NavBar .row a {
  padding: 27px;
  color: #000;
  text-decoration: none;
}

#header #head .row #NavBar .row a:hover {
  background: #ffbb00;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header #head .row i {
  display: none;
}

#main #main_carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #main_carusel .row .col-md-4 {
  padding: 1px;
}

#main #main_carusel .row .col-md-4 .carousel .carousel-inner .carousel-item img {
  width: 33%;
  margin: 0;
}

#main #searchTire .between {
  background: #ffbb00;
  padding: 10px;
}

#main #searchTire .row .col-md-4 {
  padding: 1px;
}

#main #searchTire .row .col-md-4 .Searchbtn {
  font-weight: bold;
  width: 100%;
  height: 80px;
  background: #d0d0d4;
  outline: none;
}

#main #searchTire .row .col-md-4 .Searchbtn:hover {
  background: #ffbb00;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main #searchTire .row .col-md-4 .Searchbtn:focus {
  background: #ffbb00;
  color: #000;
}

#main #result {
  display: none;
  background: #d0d0d4;
}

#main #result .images .col-md-3 div img {
  width: 25%;
}

#main #result .btn {
  color: #626161;
}

#main #result .search_prop {
  padding: 5px;
  width: 100%;
}

#main #result .search_prop input {
  border-radius: 5px;
}

#main #afterpart {
  border-radius: 0 0 10px 10px !important;
}

#main #afterpart1,
#main #afterpart {
  border-radius: 0;
}

#main #afterpart1 div button,
#main #afterpart div button {
  border-radius: 10px;
  font-weight: bold;
  width: 60%;
  height: 40px;
  background: #fff;
  outline: none;
}

#main #afterpart1 div button:hover,
#main #afterpart div button:hover {
  background: #ffbb00;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main #afterpart1 div a,
#main #afterpart div a {
  text-decoration: none;
  color: #000;
}

#main #afterpart1 div a:last-child,
#main #afterpart div a:last-child {
  text-decoration: underline;
}

#main #Between1 {
  float: left;
  border: 1px solid #d0d0d4;
  background: #fff;
}

#main #Between1 .row {
  float: left;
}

#main #Between1 .row img {
  padding: 1px;
  width: 25%;
}

#main #Other {
  border-radius: 0 0 10px 10px;
  display: none;
  background: #d0d0d4;
  padding: 10px;
  border-radius: 0;
  text-align: center;
}

#footer {
  background: #d0d0d4;
}

#footer .row .col-md-3 {
  padding: 10px;
}

#footer .row .col-md-3 a img {
  width: 50%;
}

#footer .row .col-md-3 p {
  font-size: 0.8em;
}

#footer .row .col-md-3 div a {
  padding: 10px 5px;
}

#footer .row .col-md-3 div a i {
  color: #000;
  font-size: 2em;
}

#footer .row .col-md-3 div img {
  width: 50px;
  border-radius: 20px;
}

#footer .row .col-md-2 #more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .row .col-md-2 #more ul li {
  margin: 3px;
}

#footer .row .col-md-2 #more ul li a {
  color: #000;
}

#footer .row .col-md-2 #more ul:last-child {
  margin-left: 30px;
}

#footer .row .col-md-2 input[type=text],
#footer .row .col-md-2 input[type=email] {
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
}

#footer .row .col-md-2 span {
  font-size: 0.83em;
  position: relative;
  right: 1%;
}

#footer .row .col-md-2 button {
  font-weight: bold;
  width: 100%;
  height: 40px;
  background: #ffbb00;
  outline: none;
}

#footer .row .col-md-2 button:hover {
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#footer #copy {
  border-top: 1px solid #fff;
  background: #313131;
}

#footer #copy #copyright {
  color: #fff;
  padding: 20px;
}

#footer #copy #copyright span {
  text-decoration: underline;
}

@media screen and (max-width: 1095px) {
  #header #NavBar {
    display: none;
  }
  #header #searchbar a {
    left: 170px;
    bottom: 26px;
  }
  #header #Toggle_bar {
    display: block !important;
    position: relative;
    bottom: 25px;
    font-size: 1.5em;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: #ffbb00;
  }
  #header #Logo {
    position: relative;
    top: 20px;
  }
  #main .buttons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #main .buttons .col-xs-4 {
    padding: 1px;
    width: 33.3% !important;
  }
  #main #result .dropdowns div button {
    width: 100% !important;
  }
  #footer input[type=text],
  #footer input[type=email] {
    width: 100%;
    position: relative;
    right: 1% !important;
  }
}

@media screen and (max-width: 768px) {
  #footer #more ul {
    margin-left: 3%;
  }
}
/*# sourceMappingURL=style.css.map */