input {
  outline: none;
}

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

#header #Head .row {
  padding: 10px;
  background: #ffbb00;
}

#header #Head .row #header_contact {
  font-size: 1.3em;
}

#header #Head .row #header_contact a i,
#header #Head .row #header_contact span {
  padding: 10px 1px;
  color: #000;
}

#header #Head .row #searchbar input {
  margin-top: 6px;
  border-radius: 100px;
  padding-left: 10px;
  outline: none;
}

#header #Head .row #searchbar a {
  position: relative;
  right: 30px;
}

#header #Head .row #searchbar a i {
  color: #000;
}

#header #head {
  background: #dbd9d9;
}

#header #head .row .col-md-3 {
  padding: 10px;
}

#header #head .row .col-md-3 a img {
  width: 50%;
}

#header #head .row #NavBar ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0 0 0;
}

#header #head .row #NavBar ul li {
  list-style: none;
  font-size: 1.2em;
}

#header #head .row #NavBar ul li a {
  padding: 27px 20px;
  color: #000;
  text-decoration: none;
}

#header #head .row #NavBar ul li a:hover {
  background: #ffbb00;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main #main_carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #dbd9d9;
}

#main #main_carusel .row .col-md-4 {
  padding: 1px;
}

#main #main_carusel .row .col-md-4 .carousel .carousel-inner .carousel-item img {
  width: 33%;
  margin: 0;
}

#main #searchTire .between {
  background: #ffbb00;
  padding: 10px;
}

#main #searchTire .row .col-md-4 {
  padding: 1px;
}

#main #searchTire .row .col-md-4 .Searchbtn {
  font-weight: bold;
  width: 100%;
  height: 80px;
  background: #dbd9d9;
  outline: none;
}

#main #searchTire .row .col-md-4 .Searchbtn:hover {
  background: #ffbb00;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main #searchTire .row .col-md-4 .Searchbtn:focus {
  background: #ffbb00;
  color: #000;
}

#main #result .row {
  background: #dbd9d9;
}

#main #result .row .col-md-3 img {
  width: 25%;
  color: #ffbb00;
}

#main #result .row .col-md-1 .btn-group {
  width: 215px !important;
}

#main #result .row .col-md-1 .btn-group .dropdown-menu input {
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
  border-radius: 5px;
}

#main #result #afterpart {
  border-radius: 0 0 10px 10px;
}

#main #result #afterpart div button {
  border-radius: 10px;
  font-weight: bold;
  width: 60%;
  height: 40px;
  background: #fff;
  outline: none;
}

#main #result #afterpart div button:hover {
  background: #ffbb00;
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main #result #afterpart div a {
  text-decoration: none;
  color: #000;
}

#main #result #afterpart div a:last-child {
  text-decoration: underline;
}

#footer {
  background: #dbd9d9;
}

#footer .row .col-md-3 {
  padding: 10px;
}

#footer .row .col-md-3 a img {
  width: 50%;
}

#footer .row .col-md-3 p {
  font-size: 0.8em;
}

#footer .row .col-md-3 div a {
  padding: 10px 5px;
}

#footer .row .col-md-3 div a i {
  color: #000;
  font-size: 2em;
}

#footer .row .col-md-3 div img {
  width: 50px;
  border-radius: 20px;
}

#footer .row .col-md-2 input[type=text],
#footer .row .col-md-2 input[type=email] {
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
}

#footer .row .col-md-2 span {
  font-size: 0.83em;
  position: relative;
  right: 1%;
}

#footer .row .col-md-2 button {
  font-weight: bold;
  width: 100%;
  height: 40px;
  background: #ffbb00;
  outline: none;
}

#footer .row .col-md-2 button:hover {
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#footer #copy {
  border-top: 1px solid #fff;
  background: #313131;
}

#footer #copy #copyright {
  color: #fff;
  padding: 20px;
}

#footer #copy #copyright span {
  text-decoration: underline;
}

.yellow_hr {
  border: 2px solid #ffbb00;
  width: 15%;
}
/*# sourceMappingURL=style.css.map */